
.section-body-email {
  position: relative;
  font-family: sans-serif;
  max-width: 600px;
  width: 100%;
  margin: auto;
  height: auto;
}
.header-email {
  position: relative;
}
.logo {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.title-description {
  text-align: center;
}

h1 {
  color: #14265E;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 28px;
}
h1 span {
  color: #278EFF;
}
.description {
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
  color: #506690;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer-email {
  background-color:  #F3F4F6;
  padding: 60px 0 0; 
  margin-bottom: 20px;
  position: relative;
  display: grid;
}
.curve-footer {
  position: absolute;
  width: 100%;
  top: 0;
}
.footer-email p {
  text-align: center;
  color: #506690;
  font-size: 13px;
  font-weight: 400;
}
.footer-email p a {
  color: #278EFF;
  text-decoration: none;
}
.redes-footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.red-link {
  margin: 0 12px;
}
.redes-footer a {
  color: #869AB8;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.redes-footer a img {
  margin: 0 5px;
}
.footer-email hr {
  border: 1px solid #C6D3E6;
  width: 80%;
}
.copy-right p {
  color: #869AB8;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}


/****************  ESTILOS TEMPLATE WL Y CUSTOM    ******************/
.logo-wl {
  width: 164px;
  height: 100px;
  overflow: hidden;
  margin: 15px auto 25px;
}
.logo-wl img {
  width: 100%;
  object-fit: cover;
}

.poweredBy {
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  margin: 17px 0;
}
.poweredBy a {
  text-decoration: none;
  display: flex;
  align-items: self-end;
  justify-content: center;
  color: #335EEA;
}
.poweredBy a img {
  width: 65px;
  margin-left: 6px;
}


/****************  ESTILOS TEMPLATE PAGOS BASE Y WL    ******************/
.price-date {
  color: #506690;
  font-size: 16px;
  font-weight: 20px;
  font-weight: 400;
  text-align: center;
}
.price-date .price {
  color: #335EEA;
  font-weight: 600;
}
.price-date .date {
  font-weight: 500;
  letter-spacing: 1px;
}
.btn-pay {
  text-align: center;
}
.btn-pay a {
  text-decoration: none;
  font-size: 16px;
}
.btn {
  background-color: #335EEA;
  border-radius: 24px;
  color: #ffffff;
  width: 141px;
  margin: 20px auto;
  padding: 8px;
}
.info-1 {
  text-align: center;
  color: #506690;
  font-size: 13px;
  font-weight: 400;
}
.info-1 span {
  color: #335EEA;
}
.info-2 {
  text-align: center;
  color: #869AB8;
  font-size: 13px;
  font-style: italic;
}

.hr-section hr {
  border: 1px solid #C6D3E6;
  width: 70%;
}

.info-3 {
  text-align: center;
}

.info-account {
  display: grid;
  justify-content: center;
}
.info-account h3 {
  color: #1F388C;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
}
.info-account p {
  font-size: 13px;
  color: #506690;
  margin: 5px 0px;
}
.info-account p span {
  color: #335EEA;
}



/*****************************************************************************/
/****************  @MEDIAS RESPONSIVE  ******************/
@media screen and ( max-width: 768px ) {
  .description {
    font-size: 22px;
    line-height: 30px;
  } 
  .footer-email p, .redes-footer a {
    font-size: 15px;
  }
  .copy-right p {
    line-height: 15px;
  }
}